In [4]:
# !pip install ibm_db
import ibm_db

In [5]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud" 
dsn_uid = "lmg03226"       
dsn_pwd = "RVH1zLCHRTUB0A6p"      

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "bludb"           
dsn_port = "31198"                
dsn_protocol = "TCPIP"           
dsn_security = "SSL"

In [6]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=bludb;HOSTNAME=0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=31198;PROTOCOL=TCPIP;UID=lmg03226;PWD=RVH1zLCHRTUB0A6p;SECURITY=SSL;

In [13]:
#Create database connection

try:
    conn = ibm_db.connect(dsn, "","")
    print("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)
    
except:
    print("Unable to connect: ", ibm_db.conn_errormsg())

Connected to database:  bludb as user:  lmg03226 on host:  0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [14]:
server = ibm_db.server_info(conn)
print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0500
DB_NAME:    BLUDB

In [15]:
client = ibm_db.client_info(conn)
print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.05.0500
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

In [21]:
dropQuery = "DROP TABLE CONTACTS"

dropSt = ibm_db.exec_immediate(conn, dropQuery)

In [22]:
createQuery = "CREATE TABLE CONTACTS(PHNO VARCHAR(20) PRIMARY KEY NOT NULL, FNAME VARCHAR(40), EMAIL_ID VARCHAR(40))"

createSt = ibm_db.exec_immediate(conn, createQuery)

In [23]:
insertQuery = "INSERT INTO CONTACTS VALUES('9811537428','Aleem Siddiqui', 'aleemsiddiqui@gmail.com' )"
insertQuery2 = "INSERT INTO CONTACTS VALUES('9811537418','Rahma Siddiqui', 'rahmaiddiqui@gmail.com' )"

insertSt = ibm_db.exec_immediate(conn, insertQuery)
insertSt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [33]:
selectQuery = "SELECT * FROM CONTACTS"

selectSt = ibm_db.exec_immediate(conn, selectQuery)

# ibm_db.fetch_both(selectSt)
while ibm_db.fetch_row(selectSt) != False:
        print(ibm_db.result(selectSt,0),ibm_db.result(selectSt,1),ibm_db.result(selectSt,2) )

9811537428 Aleem Siddiqui aleemsiddiqui@gmail.com
9811537418 Rahma Siddiqui rahmaiddiqui@gmail.com

In [35]:
import pandas
import ibm_db_dbi

pconn = ibm_db_dbi.Connection(conn)

In [38]:
selectQuery = "select * from CONTACTS"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf

         PHNO           FNAME                 EMAIL_ID
0  9811537428  Aleem Siddiqui  aleemsiddiqui@gmail.com
1  9811537418  Rahma Siddiqui   rahmaiddiqui@gmail.com

In [39]:
ibm_db.close(conn)

True